@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --background-grey: #f4f3f4;
  --button-purple: #192592;
  --main-titles-dark-grey: #2c303f;
  --paragraph-grey: #5b5e6d;
  --nav-grey: #5b5e6d;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--main-titles-dark-grey);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5b5e6d;
  background-color: white;
}

nav > img {
  max-width: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.hamburg {
  max-height: 40px;
  object-fit: contain;
  margin: 0 10px;
}

nav > ul {
  display: none;
}

header {
  padding: 20px;
  margin-top: 40px;
}

header > p {
  margin: 20px 0;
  color: var(--paragraph-grey);
  font-size: 1rem;
  font-weight: 500;
}

header > input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border-color: var(--paragraph-grey);
  padding: 15px;
  outline: none;
}

header > button {
  font-family: "Poppins";
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: var(--button-purple);
  padding: 15px;
  color: white;
  font-weight: 700;
  margin: 15px 0 5px 0;
}

.sign-in {
  text-align: center;
}

header > img {
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

main > div:nth-child(1) {
  padding: 20px;
  background-color: var(--background-grey);
}

main > div > h2 {
  text-align: center;
  font-size: 1.8rem;
}

main > div > p {
  margin: 20px 0;
  text-align: center;
}

main > div:nth-child(1) > button {
  font-family: "Poppins";
  width: 100%;
  margin: 15px 0 5px 0;
  border-radius: 4px;
  border-color: var(--nav-grey);
  background-color: white;
  font-weight: 700;
  padding: 15px;
  color: var(--button-purple);
}

main > div > div > img {
  display: flex;
  max-width: 200px;
  margin: 40px auto;
  padding: 10px;
}

main > div > h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 40px;
}

main > div:nth-child(2) {
  padding: 20px;
}

main > div:nth-child(2) > input {
  display: none;
}

main > div:nth-child(2) > button {
  font-family: "Poppins";
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: var(--button-purple);
  padding: 15px;
  color: white;
  font-weight: 700;
  margin: 15px 0 5px 0;
}

footer > div > img {
  max-width: 100px;
}

footer > div:nth-child(1) {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer > div:nth-child(1) > ul {
  list-style: none;
  padding: 0;
  color: var(--nav-grey);
  line-height: 2;
  margin: 20px 0;
}

footer > div:nth-child(1) > ul > li:nth-child(1) {
  font-weight: 700;
}

footer > div:nth-child(2) {
  background-color: var(--background-grey);
  padding: 40px 40px 20px 40px;
  display: flex;
  flex-direction: column;
}

footer > div:nth-child(2) > ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  font-weight: 700;
  color: var(--paragraph-grey);
  margin-bottom: 20px;
}

footer > div:nth-child(2) > div {
  text-align: center;
  color: var(--paragraph-grey);
}

footer > div:nth-child(2) > div > span {
  margin: 0 10px;
}

footer > div:nth-child(2) > div > img {
  width: 20px;
}

footer > div:nth-child(2) > div > div {
  margin-top: 20px;
}

footer > div:nth-child(2) > div > div > i {
  margin: 0 10px;
}

@media (min-width: 767px) and (max-width: 960px) {
  header > h1 {
    font-size: 4rem;
  }

  header > input {
    display: inline;
    width: 40%;
  }

  header > button {
    width: 20%;
  }

  .sign-in {
    text-align: start;
  }

  header > img {
    max-width: 75%;
    display: flex;
  }

  main > div > h2 {
    text-align: center;
    font-size: 2.3rem;
  }

  main > div:nth-child(1) > button {
    font-family: "Poppins";
    width: 40%;
    margin: 15px 0 5px 30vw;
    border-radius: 4px;
    border-color: var(--nav-grey);
    background-color: white;
    font-weight: 700;
    padding: 15px;
    color: var(--button-purple);
  }

  main > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main > div:nth-child(2) {
    padding: 20px;
  }

  main > div > h3 {
    font-size: 2rem;
    text-align: left;
    margin-top: 40px;
  }

  main > div > p {
    text-align: left;
    display: inline;
  }

  main > div:nth-child(2) > input {
    display: inline;
    width: 25%;
    border-radius: 4px;
    border-color: var(--paragraph-grey);
    padding: 15px;
    outline: none;
    margin-left: 15vw;
  }

  main > div:nth-child(2) > button {
    font-family: "Poppins";
    width: 25%;
    border-radius: 4px;
    border: none;
    background-color: var(--button-purple);
    padding: 15px;
    color: white;
    font-weight: 700;
    margin: 15px 0 5px 0;
  }

  footer > div:nth-child(1) {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  br {
    display: none;
  }

  footer > div:nth-child(2) {
    background-color: var(--background-grey);
    padding: 40px 40px 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > div:nth-child(2) > div > div {
    margin: 0;
  }

  footer > div:nth-child(2) > ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    font-weight: 700;
    color: var(--paragraph-grey);
    margin: 0;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
